[submodule "JavaScript"]
	path = JavaScript
	url = https://github.com/SENODROOM/LeetCode-in-JavaScript.git
[submodule "C++"]
	path = LeetCode-in-Cplusplus
	url = https://github.com/SENODROOM/LeetCode-in-Cplusplus.git
